In [4]:
import pandas as pd
pd.set_option('display.max_colwidth', None)

In [9]:
address = 'kujira1pkmjc7p7lqg6m3nm7csde88pnpad945kla5hyu'
df = pd.read_csv(f'../data/{address}.csv')

In [14]:
tt = df[((df.recipient == 'kujira1pkmjc7p7lqg6m3nm7csde88pnpad945kla5hyu') | \
    (df.sender == 'kujira1pkmjc7p7lqg6m3nm7csde88pnpad945kla5hyu')) & \
    (df.valuta=='ukuji')]

In [19]:
tt1 = tt[['sender','amount','valuta']]
tt1.columns = ['address','amount','valuta']
tt2 = tt[['recipient','amount','valuta']]
tt2.columns = ['address','amount','valuta']
tt3 = pd.concat([tt1[['address','amount','valuta']],
           tt2[['address','amount','valuta']]])

In [20]:
tt3[['address','valuta','amount']]\
    .groupby(['address','valuta']).sum().reset_index()

,address,valuta,amount
0,kujira143fwcudwy0exd6zd3xyvqt2kae68ud6n8jqchufu7wdg5sryd4lqtlvvep,ukuji,220000130
1,kujira14hj2tavq8fpesdwxxcu44rty3hh90vhujrvcmstl4zr3txmfvw9sl4e867,ukuji,417611889
2,kujira17xpfvakm2amg962yls6f84z3kell8c5lp3pcxh,ukuji,21920
3,kujira193dzcmy7lwuj4eda3zpwwt9ejal00xva0vawcvhgsyyp5cfh6jyq66wfrf,ukuji,300199534
4,kujira1ackqp55ygdmvx2armyl9x9k6d6pdrcj98l8u5u,ukuji,1090000000
5,kujira1e6fjnq7q20sh9cca76wdkfg69esha5zn53jjewrtjgm4nktk824stzyysu,ukuji,388308042
6,kujira1pkmjc7p7lqg6m3nm7csde88pnpad945kla5hyu,ukuji,2416141515