In [1]:
import pandas as pd
pd.set_option('display.max_colwidth', None)

In [2]:
address = 'kujira1pkmjc7p7lqg6m3nm7csde88pnpad945kla5hyu'
df = pd.read_csv(f'./data/{address}.csv')

In [10]:
df.valuta = df.valuta.replace({'factory/kujira1qk00h5atutpsv900x202pxx42npjr9thg58dnqpa72f2p7m2luase444a7/uusk':'UUSK'})
df.valuta = df.valuta.apply(str.upper)

In [14]:
tt = df[((df.recipient == 'kujira1pkmjc7p7lqg6m3nm7csde88pnpad945kla5hyu') | \
    (df.sender == 'kujira1pkmjc7p7lqg6m3nm7csde88pnpad945kla5hyu')) & \
    (df.valuta.isin(['UKUJI','UUSK']))]

In [15]:
tt1 = tt[['sender','amount','valuta']]
tt1.columns = ['address','amount','valuta']
tt2 = tt[['recipient','amount','valuta']]
tt2.columns = ['address','amount','valuta']
tt3 = pd.concat([tt1[['address','amount','valuta']],
           tt2[['address','amount','valuta']]])

In [17]:
tt3[['address','valuta','amount']]\
    .groupby(['address','valuta']).sum().reset_index().sort_values(by='amount')

,address,valuta,amount
3,kujira17xpfvakm2amg962yls6f84z3kell8c5lp3pcxh,UKUJI,21920
6,kujira1ackqp55ygdmvx2armyl9x9k6d6pdrcj98l8u5u,UUSK,57663375
12,kujira1sdlp8eqp4md6waqv2x9vlvt9dtzyx9ztt0zvkfxaw9kxh3t5gdvqypxlwz,UUSK,185345788
0,kujira143fwcudwy0exd6zd3xyvqt2kae68ud6n8jqchufu7wdg5sryd4lqtlvvep,UKUJI,220000130
4,kujira193dzcmy7lwuj4eda3zpwwt9ejal00xva0vawcvhgsyyp5cfh6jyq66wfrf,UKUJI,300199534
11,kujira1rwx6w02alc4kaz7xpyg3rlxpjl4g63x5jq292mkxgg65zqpn5llq202vh5,UUSK,359661501
7,kujira1e6fjnq7q20sh9cca76wdkfg69esha5zn53jjewrtjgm4nktk824stzyysu,UKUJI,388308042
2,kujira14hj2tavq8fpesdwxxcu44rty3hh90vhujrvcmstl4zr3txmfvw9sl4e867,UKUJI,417611889
1,kujira144sn0hdpar2enufzme5wqgefeng6m6np6csadmwy7sk5ae3pv9wqw0hj75,UUSK,1041380219
5,kujira1ackqp55ygdmvx2armyl9x9k6d6pdrcj98l8u5u,UKUJI,1090000000
8,kujira1pkmjc7p7lqg6m3nm7csde88pnpad945kla5hyu,UKUJI,2416141515
10,kujira1q8y46xg993cqg3xjycyw2334tepey7dmnh5jk2psutrz3fc69teskctgfc,UUSK,2508103515
9,kujira1pkmjc7p7lqg6m3nm7csde88pnpad945kla5hyu,UUSK,4152154398